In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb


%matplotlib inline

In [2]:
# Read the data
from google.colab import files
uploaded =  files.upload()

Saving energydata_complete.csv to energydata_complete.csv

In [3]:
df = pd.read_csv('energydata_complete.csv')

### Data Exploration

In [4]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [6]:
df.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [7]:
df.duplicated().sum()

0

In [12]:
# linear model btw T2 and T6
# select feature and label
x = df[['T2']]
y = df['T6']

In [13]:
from sklearn.linear_model import LinearRegression
model = LinearRegression().fit(x, y)
print (model)

LinearRegression()

In [15]:
from sklearn.metrics import r2_score
predictions = model.predict(x)
r2 = r2_score(y, predictions)
print(f'r2 : {r2}')

r2 : 0.6418990830855493

In [16]:
# Question 13

df_new = df.copy()

df_new.drop(['date', 'lights'], axis=1, inplace=True)

In [17]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Appliances   19735 non-null  int64
 1   T1           19735 non-null  float64
 2   RH_1         19735 non-null  float64
 3   T2           19735 non-null  float64
 4   RH_2         19735 non-null  float64
 5   T3           19735 non-null  float64
 6   RH_3         19735 non-null  float64
 7   T4           19735 non-null  float64
 8   RH_4         19735 non-null  float64
 9   T5           19735 non-null  float64
 10  RH_5         19735 non-null  float64
 11  T6           19735 non-null  float64
 12  RH_6         19735 non-null  float64
 13  T7           19735 non-null  float64
 14  RH_7         19735 non-null  float64
 15  T8           19735 non-null  float64
 16  RH_8         19735 non-null  float64
 17  T9           19735 non-null  float64
 18  RH_9         19735 non-null  float64
 19  T_out        19735 non-null  float64
 20  Press_mm_hg  19735 non-null  float64
 21  RH_out       19735 non-null  float64
 22  Windspeed    19735 non-null  float64
 23  Visibility   19735 non-null  float64
 24  Tdewpoint    19735 non-null  float64
 25  rv1          19735 non-null  float64
 26  rv2          19735 non-null  float64
dtypes: float64(26), int64(1)
memory usage: 4.1 MB

In [18]:
X = df_new.drop('Appliances', axis=1)
y = df['Appliances']

In [20]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X)
scaled_X = scaler.transform(X)

In [21]:
from sklearn.model_selection import train_test_split

# Split data 70%-30% into training set and test set
X_train, X_test, y_train, y_test = train_test_split(scaled_X, y, test_size=0.30, random_state=42)

In [33]:
# Fit a linear regression model on the training set
model = LinearRegression().fit(X_train, y_train)
print (model)

LinearRegression()

In [34]:
predictions = model.predict(X_test)

In [35]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, predictions)
print("MAE:", mae)

MAE: 53.642977655849485

In [37]:
rss = np.sum(np.square(y_test - predictions))
round(rss, 2)

51918501.21

In [39]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predictions))
print("MSE:", rmse)

MSE: 93.64046093998029

In [28]:
r2 = r2_score(y_test, predictions)
print("R2:", r2)

R2: 0.14890246319303535

In [29]:
model.coef_

array([  -3.51072478,  592.29486183, -252.710373  , -488.66680472,
        310.97103712,  102.77165244,   31.00966845,   28.23278127,
        -16.75282177,   17.12619362,  252.97465249,   40.7120577 ,
         11.04109074,  -47.73659198,  109.13469841, -168.62716102,
       -203.23662712,  -42.58633878, -344.3898449 ,    7.31807923,
        -83.1075989 ,   31.22594824,   13.16807161,  126.00077634,
          0.824005  ,    0.824005  ])

In [30]:
X.columns

Index(['T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5',
       'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out',
       'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1',
       'rv2'],
      dtype='object')

In [42]:
from sklearn.linear_model import Lasso, Ridge

# Fit a lasso model on the training set
model_lasso = Lasso(0.001).fit(X_train, y_train)

model_ridge = Ridge(0.4).fit(X_train, y_train)

In [40]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, model_ridge.predict(X_test)))
print("MSE:", rmse)

MSE: 93.66122703951962

In [43]:
model_lasso.coef_

array([  -4.14712394,  590.59982716, -249.46879771, -484.56533287,
        310.21038378,  102.20461099,   30.34519749,   27.44590464,
        -17.11872329,   17.10332116,  250.08097851,   40.09288319,
         10.34680867,  -47.38909406,  108.88342254, -168.69547613,
       -202.5025445 ,  -42.45510038, -332.57169255,    7.28215443,
        -78.00038519,   31.38951445,   13.07831882,  118.5980301 ,
          1.63117421,    0.        ])

In [44]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, model_lasso.predict(X_test)))
print("MSE:", rmse)

MSE: 93.6406750918551